@charset "utf-8";

/* bottom content title 공통 */
.bottom-tit-common{font-size:3rem !important;font-weight:900; word-break:keep-all;}
.bottom-tit-common-sub{font-size:2rem; font-weight:600;}

.tae-title-sub{max-width:730px; margin:0px auto; word-break:keep-all;}

@media (min-width:320px) and (max-width:640px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.bottom-tit-common{font-size:2rem !important;font-weight:900;}
	.bottom-tit-common-sub{font-size:1.2rem !important; font-weight:600;}
	.tae-title-sub{margin:30px auto;}
}


@media (min-width:641px) and (max-width:1024px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */

}



/* section8 */
.main-section8{background:url('../img/today-main-section8-bg2.png') no-repeat, url('../img/today-main-section8-bg3.png') no-repeat, url('../img/today-main-section8-bg1.png') no-repeat; background-size:contain, auto, cover; background-position:center top, right bottom, center bottom; padding:3rem 0;}
.main-section8 .bottom-tit-common{text-align:center;}
.main-section8 .tae-title-sub{ color:#545454; font-size:1.2rem}
.main-section8 .item-wr {}
.main-section8 .item-wr .item{position:relative; height:0; padding-bottom:100%;}
.main-section8 .item-wr .item:after{content:''; width:100%; height:100%; position:absolute; left:0; top:0; background:url('../img/today-main-section8-item-bg.png') no-repeat center bottom #fff; border-radius:50%; z-index:-1; background-size:cover;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.main-section8 .item-wr .item-con{width:100%; height:100%; position:absolute; display:flex;display: -ms-flexbox; align-items:center; flex-direction:column; justify-content:center;}
.main-section8 .item-wr .item-con > p{max-width:70%; word-break:keep-all; font-size:1rem; margin-top:1.5rem; color:#000;}

.main-section8 .item-wr .item .c-deepgreen{font-size: 2.5rem; border-top: 1px solid #000; border-bottom: 1px solid #000;}


@media (min-width:320px) and (max-width:640px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.main-section8{background-size: contain, 50%, cover; padding: 10% 0 34%; background-position:center top, center bottom, center;}
	.main-section8 .section08_title{font-size:1.75rem; line-height:6rem; height:6rem; background-size:contain;}
	.main-section8 .bottom-tit-common{line-height: 5rem; background-size: 30%; height: 5rem;}
	.main-section8 .tae-title-sub{font-size:1rem}
	.main-section8 .row{margin-bottom:0;}
	.main-section8 .item{margin:0 0 40px 0; height:auto;}

	.main-section8 .item-wr .item-con{padding-top:0; justify-content:center;}
	.main-section8 .item-wr .item .c-deepgreen{font-size: 3rem}
	.main-section8 .item-wr .item-con > p{font-size:1.2rem; margin-top:20px; max-width:60%;}
}


@media (min-width:641px) and (max-width:1024px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section8{background-size: contain, 50%, cover; padding: 10% 0;}
	.main-section8 .tae-title-sub{font-size:1rem}

	.main-section8 .item-wr .item-con{padding-top:0; justify-content:center;}
	.main-section8 .item-wr .item .c-deepgreen{font-size: 2rem}
	.main-section8 .item-wr .item-con > p{font-size:1rem; margin-top:.7rem; max-width:75%;}
	.main-section8 .item-wr .item:after{opacity:0.6;}


}


@media (min-width:1025px) and (max-width:1300px){ /* big landscape tablets, laptops, and desktops */
	.main-section8 .item-wr .item-con > p { max-width: 70%; word-break: keep-all; font-size: 1rem; margin-top: .5rem;}

}


/* section9 */
	.section9-13bg{background:url("/theme/bs4_v3.0/img/section12_bg.png") repeat;background-size:contain;}
	.main-section9{padding:3rem 0 1rem;}

	.main-section9 .go-gil{border:5px solid #006b80; display:block; padding:1rem; width:100%; height:100%; background:rgba(228,232,235,0.5);}

@media (min-width:320px) and (max-width:640px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.section9-13bg{background-size:contain;}
}

@media (min-width:641px) and (max-width:1024px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.section9-13bg{background-size:contain;}
}


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */


}

/* section10 */
	.section9-13bg{background:url("/theme/bs4_v3.0/img/section12_bg.png") repeat;background-size:contain;}
	.main-section10{padding-top:3rem;}
	.main-section10 .tae-title-sub{ color:#545454; font-size:1.2rem}

	.main-section10 .gil-con{display:block; padding:1rem; width:100%; height:100%; font-size:1rem; color:#fff; word-break:keep-all;}
	.main-section10 .gil-con > div{ background-size:cover !important; position:relative; overflow:hidden; display:flex; display:-ms-flexbox;}
	.main-section10 .gil-con > div:after{content: ''; display: block; width: 90%; height: 90%; border: 3px solid rgba(255,255,255,0.5); position: absolute; left: 5%; top: 5%; transform: rotate(-15deg);}

	.main-section10 .gil-con > div > div{padding:2rem; width:100%; height:100%; min-height:200px; display: flex; align-items: center; justify-content: center; text-align: center;}
	.main-section10 .go-gil1{background:#4a95a5;;}
	.main-section10 .go-gil2{background:#bd994b;}
	.main-section10 .go-gil3{background:#4a9b96;}
	.main-section10 .go-gil4{background:#4a7ea5;}

	.main-section10 .go-gil{}

@media (min-width:320px) and (max-width:640px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.section9-13bg{background-size:contain;}
	.main-section10 .tae-title-sub{font-size:1rem}
	.main-section10 .gil{font-size:1rem;}
	.main-section10 .gil-con > div > div{font-size:1.2rem;}
}

@media (min-width:641px) and (max-width:1024px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.section9-13bg{background-size:contain;}
	.main-section10 .tae-title-sub{font-size:1rem}
	.main-section10 .gil{font-size:1rem;}
}


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */


}



/* 하단 어제/오늘 */
	.section13{background:transparent;}
	.section13 .pulse1, .section13 .pulse2{margin:10px 0;}
	.section13 .pulse1:after{content:''; width:1px; height:50px; background:#26a69a; position:absolute; bottom:-24px; left:50%;}
	.section13 .pulse2:after{content:''; width:1px; height:50px; background:#996600; position:absolute; bottom:-24px; left:50%;}
	.section13 .btn-floating.btn-large {width: 30px;height: 30px;}
	.section13 .btn-floating.btn-large i {line-height: 30px;}
	.btn-large i {font-size: 1.7rem;}
	.section13 .btn{padding:0px !important}
	.section13 .btn-large{line-height: 30px;}
	.section13 .pulse1 .btn-floating{background-color:#26a69a}
	.section13 .pulse2 .btn-floating{background-color:#996600}
	.section13 .yesterday{display:flex;display: -ms-flexbox; align-items:center; flex-direction:column; justify-content:flex-start;}
	.section13 .today{display:flex;display: -ms-flexbox; align-items:center; flex-direction:column; justify-content:flex-end;}

@media (min-width:320px) and (max-width:640px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.section13 .pulse1:after{content:''; display:none;}
	.section13 .pulse2:after{content:''; display:none;}


}


@media (min-width:641px) and (max-width:1024px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */


}


@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}


	/* New Footer */
	#footer {border-top:7px solid #303030;background:#0a6b78;color:#fff}
	#footer a{color:#fff;}
	#footer p{color:#fff}
	#footer h4 {margin: 20px 0;text-transform: uppercase;letter-spacing: 3px;font-weight: 700;color:#fff;font-size:18pt}
	#footer h4 span {padding-bottom: 5px;}
	#footer .footer-links {padding: 0;margin: 0;}
	#footer .footer-links li {list-style: none;padding: 0;margin: 0 0 10px 0;color: rgba(255,255,255,.6);display: block;font-size: 0.9rem;color:#fff;}
	#footer ul li a, #footer .pic a, #footer .desc h2 a {text-decoration: none;color: #fff;font-size: .9rem;}
	#footer .footer-links li a:hover{}
	#footer .pic {position: relative;padding-left: 80px;margin-bottom: 40px;}
	#footer .pic .small-img {position: absolute;top: 0;left: 0;display: block;width: 70px;height: 60px;float: left;}
	#footer .small-img {background-size: cover;background-position: center center;background-repeat: no-repeat;position: relative;}
	#footer .desc h2 {font-size: 14px;margin-bottom: 5px;}
	#footer .qtext{color:#93d668;}
	#footer .col-md-1{font-size:10pt}
	#footer .text-muted{font-size:10pt;color:#fff !important;font-size: 0.9rem;}
	#footer .container{padding-bottom:50px}
	#footer strong{font-size:2.4rem;color:#93d668;font-weight:900}
	/* End of New Footer */