@charset "utf-8";

/* 2019-05-22 메인.. */
img {
	max-width: 100%;
}

/* 메인 컨텐츠 간 간격 */
.gap1 {
	margin: 100px auto;
}

.relative {
	position: relative;
}

/* 포지션 */
.block {
	display: block;
}

/* 블록요소 */

.bg-deepgreen {
	background: #006b80
}

.bg-gold {
	background: #a47100
}

.c-deepgreen {
	color: #006b80
}

.c-gold {
	color: #a47100
}

.c-gray {
	color: #c7c7c7;
}

.c-white {
	color: #fff;
}

.c-yellow {
	color: #f4d507;
}

.c-bluegreen {
	color: #006b80;
}

.c-remon {
	color: #f4e44e;
}

.c-black {
	color: #000;
}

.c-gray9 {
	color: #999;
}

.c-brown {
	color: #574500;
}

caption {
	font-size: 0px;
	height: 0px;
	text-indent: -9999999999999px;
	width: 0px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.gap1 {
		margin: 70px auto;
	}
}

/* main-top */
.main-top-arrow {
	animation: arrow_down ease-in-out 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: arrow_down ease-in-out 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: arrow_down ease-in-out 1s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: arrow_down ease-in-out 1s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: arrow_down ease-in-out 1s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

@keyframes arrow_down {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, 15px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

@-moz-keyframes arrow_down {
	0% {
		-moz-transform: translate(0px, 0px);
	}

	50% {
		-moz-transform: translate(0px, 15px);
	}

	100% {
		-moz-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes arrow_down {
	0% {
		-webkit-transform: translate(0px, 0px);
	}

	50% {
		-webkit-transform: translate(0px, 15px);
	}

	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-o-keyframes arrow_down {
	0% {
		-o-transform: translate(0px, 0px);
	}

	50% {
		-o-transform: translate(0px, 15px);
	}

	100% {
		-o-transform: translate(0px, 0px);
	}
}

@-ms-keyframes arrow_down {
	0% {
		-ms-transform: translate(0px, 0px);
	}

	50% {
		-ms-transform: translate(0px, 15px);
	}

	100% {
		-ms-transform: translate(0px, 0px);
	}
}

/* bottom content title 공통 */
.bottom-tit-common {
	font-size: 3rem !important;
	font-weight: 900;
	word-break: keep-all;
}

.bottom-tit-common-sub {
	font-size: 2rem;
	font-weight: 600;
}

.tae-title-sub {
	max-width: 730px;
	margin: 0px auto;
	word-break: keep-all;
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.bottom-tit-common {
		font-size: 2rem !important;
		font-weight: 900;
	}

	.bottom-tit-common-sub {
		font-size: 1.2rem !important;
		font-weight: 600;
	}

	.tae-title-sub {
		margin: 30px auto;
	}
}


@media (min-width:641px) and (max-width:1024px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */

}

/* section02 */
.main-section2 {}

.main-section2 .container .row {
	margin-bottom: 0;
}

.main-section2.relative:after {
	content: '';
	width: 50%;
	height: 5px;
	background: #006b80;
	position: absolute;
	left: 0;
	bottom: 0;
}

.start-wr {
	border: 5px solid #006b80;
	border-left: 0;
}

/* .start-wr h2{position:absolute; background:#fff; top:-95px; left:-15px; font-size: 55px; line-height: 35px; font-weight: 600; color: #a47100; padding-right:40px;}
.start-wr h2:after{content:''; width:40px; height:4px; background:#a47100; position:absolute; left:0px; bottom:-25px;}
 */
.main-section2-con-wr {}

.main-section2-tit {
	font-size: 2rem;
	margin-bottom: 30px;
	color: #000;
}

.main-section2-tit strong {
	font-weight: 900;
}

.main-section2-con1 {
	word-break: keep-all;
	padding: 50px 0;
}

.main-section2-con2 {
	padding-right: 0 !important;
	background: url(/theme/bs4_v3.0/img/pub/today-main-section2.png) no-repeat right bottom;
	background-size: contain;
}

.main-section2-con-wr p {
	font-size: 1.2rem
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.main-section2 {
		padding: 0 15px;
	}

	.start-wr {
		padding-bottom: 0;
	}

	.start-wr h2 {
		position: absolute;
		background: #fff;
		top: -90px;
		line-height: 25px;
		font-weight: 600;
		color: #a47100;
		padding-right: 20px;
	}

	.start-wr h2:after {
		content: '';
		width: 40px;
		height: 4px;
		background: #a47100;
		position: absolute;
		left: 0;
		bottom: -15px;
	}

	.start-wr h2 p {
		font-size: 30px;
	}

	.main-section2-tit {
		font-size: 1.125rem;
	}

	.main-section2-con1 {
		padding-top: 20%;
	}

	.main-section2-con1 p {
		font-size: 1rem;
		margin-bottom: 30px;
	}

	.main-section2-con2 {
		height: 500px;
		background-position: center center;
	}

}


@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section2-tit {
		font-size: 1.5rem;
	}

	.main-section2-con-wr p {
		font-size: 1rem
	}


}


@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */


}

/* section03 */
.main-section3 .celebration-wr {
	border-radius: 20px;
	padding: 50px;
	border: 15px solid #129bbb;
}

.main-section3 .celebration-tit {
	text-align: center;
}

.main-section3 .celebration-tit h2 {
	font-size: 3rem;
	font-weight: 600;
}

.main-section3 .celebration-tit h3 {
	font-size: 1.5rem !important;
	color: #000 !important;
	font-weight: 600 !important;
}

.main-section3 .celebration-con {
	font-size: 1.2rem;
	color: #fff;
}

.main-section3 .celebration-con .c-remon {
	width: 80px;
	display: inline-block;
	font-weight: 600;
}

.main-section3 .celebration-con .celebration-tbl {
	padding: 40px;
}

.main-section3 .celebration-con .celebration-tbl th {
	border-bottom: 1px dashed #fff;
	padding: 20px;
	color: #3fd0f1;
	font-weight: 600;
	text-align: center;
}

.main-section3 .celebration-con .celebration-tbl td {
	border-bottom: 1px dashed #fff;
	border-left: 1px dashed #fff;
	padding: 20px;
	word-break: keep-all;
}

.main-section3 .celebration-con .celebration-tbl td .block {
	margin-bottom: 1rem;
}

.main-section3 .celebration-con .celebration-tbl tr:last-child th,
.main-section3 .celebration-con .celebration-tbl tr:last-child td {
	border: 0;
}

.history-wr .his-year {
	font-size: 40px;
	font-weight: 600;
}

.history-wr .his-con {
	margin-bottom: 30px;
	word-break: keep-all;
	font-size: 1.2rem;
}



@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.mobile-none {
		display: none;
	}

	.main-section3 .celebration-wr {
		padding: 10px;
	}

	.main-section3 .celebration-con .celebration-tbl {
		padding: 10px;
		font-size: inherit;
	}

	.main-section3 .celebration-tit h2 {
		font-size: 1.5rem;
	}

	.main-section3 .celebration-tit h3 {
		font-size: 1rem !important;
		word-break: keep-all;
	}

	.main-section3 .celebration-con {
		font-size: 1rem;
	}

	.main-section3 .celebration-con .c-remon {
		display: block;
	}

	.main-section3 .celebration-con .celebration-tbl th,
	.main-section3 .celebration-con .celebration-tbl td {
		padding: 10px;
	}

	.main-section3 .celebration-con .celebration-tbl th:first-child {
		width: 12%;
	}

	.main-section3 .celebration-con .celebration-tbl th:nth-child(2) {
		width: 18%;
		word-break: keep-all;
	}
}

@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.mobile-none {
		display: block;
	}

	.main-section3 .celebration-tit h2 {
		font-size: 2rem;
		margin-top: 0;
	}

	.main-section3 .celebration-tit h3 {
		font-size: 1rem !important;
		word-break: keep-all;
	}

	.main-section3 .celebration-con {
		font-size: 1rem;
	}

	.main-section3 .celebration-con .celebration-tbl th,
	.main-section3 .celebration-con .celebration-tbl td {
		padding: 10px;
	}

}

@media (min-width:1025px) {

	/* big landscape tablets, laptops, and desktops */
	.pc-none {
		display: none;
	}

	.mobile-none {
		display: block;
	}

	.main-section3 .celebration-tit h2 {
		margin-top: 0;
	}

	.main-section3 .celebration-con .celebration-tbl th:nth-child(2) {
		width: 15%;
		word-break: keep-all;
	}
}

/* main-section5 */
/* DIRECTION CONTROLS (NEXT / PREV) */
.main-banner_btn-prev {
	left: 0px;
}

.main-banner_btn {
	background: none;
	border: 0;
	position: absolute;
	top: calc(50% - 45px);
	color: #fff;
	z-index: 99;
	cursor: pointer;
}

.main-banner_btn-next {
	right: 0px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 60%;
	margin-top: -16px;
	width: 15px;
	height: 20px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

.bx-next,
.bx-prev {
	text-indent: -9999px;
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.main-section5-wr {
	background: url("../img/today-main-section5-bg.png") repeat;
	background-size: contain;
}

.main-section5-tit {
	padding: 80px 0;
	margin-top: 4rem;
}

.main-section5-tit:after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	background: url('/theme/bs4_v3.0/img/pub/main-section5-tit-bg.png') no-repeat center center;
}

.main-section5 .swiper-container {
	max-width: 1024px;
}

.main-section5 .slide-left {
	float: left;
}

.main-section5 .slide-right {
	float: right;
}

.main-section5 .slide-txt {
	width: calc(75% - 15%);
	font-size: 1.25rem;
	padding: 1rem;
	font-weight: 600;
	color: #fff;
	word-break: keep-all;
	font-family: 'NanumSquareRound', sans-serif;
}

.main-section5 .slide-txt a {
	color: #fff;
}

.main-section5 .slide-txt .txt-from {
	color: #000;
	font-size: 1rem;
}

.main-section5 .slide-left.slide-txt {
	background: rgba(0, 107, 128, 0.7);
	border-radius: 10px;
	position: relative;
}

.main-section5 .slide-left.slide-txt:after {
	content: '';
	width: 0px;
	height: 0px;
	border-left: 20px solid rgba(0, 107, 128, 0.7);
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid transparent;
	position: absolute;
	right: -40px;
	top: 30%;
}

.main-section5 .slide-right.slide-txt {
	background: rgba(164, 113, 0, 0.7);
	border-radius: 10px;
	position: relative;
}

.main-section5 .slide-right.slide-txt:after {
	content: '';
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid rgba(164, 113, 0, 0.7);
	border-top: 20px solid transparent;
	position: absolute;
	left: -40px;
	top: 30%;
}

.main-section5 .swiper-wrapper .swiper-slide:nth-child(even) {
	margin-top: 30px !important;
}

.main-section5 .slide-img {
	width: 30%;
	display: inline-block;
}

.main-section5 .slide-img img {
	max-width: 100%;
	border-radius: 10px;
}

.main-section5 .swiper-pagination {
	bottom: -30px;
}

.main-section5 .swiper-pagination span {
	margin: 10px 2px 0;
}

.main-section5 .swiper-pagination-bullet-active {
	background: #fff !important;
}

/* 목록형 */
.main-section5-1 {
	height: 100%;
	overflow: hidden;
}

.main-section5-1 .gap1 {
	margin-bottom: 4rem;
}

.main-section5-1 .container ul {
	background: rgba(165, 206, 214, 0.3);
	border-radius: 10px;
	padding: 2rem;
}

.main-section5-1 .container ul li {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.main-section5-1 .container ul li a {
	color: #fff;
	position: relative;
}

.main-section5-1 .container ul li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.main-section5-1 .container ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -7px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transition: all 0.2s, 0.2s ease-in-out 0s;
	transition: all 0.2s, 0.2s ease-in-out 0s;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0;
	-moz-transform-origin: 0;
	-ms-transform-origin: 0;
	transform-origin: 0;
}

.arrow-animation {
	color: #fff;
	display: inline-block;
	-webkit-animation: arrow-left-animation ease-out 1s;
	-moz-animation: arrow-left-animation ease-out 1s;
	-ms-animation: arrow-left-animation ease-out 1s;
	-o-animation: arrow-left-animation ease-out 1s;
	animation: arrow-left-animation ease-out 1s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

}


@keyframes arrow-left-animation {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(10px, 0px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

@-moz-keyframes arrow-left-animation {
	0% {
		-moz-transform: translate(0px, 0px);
	}

	50% {
		-moz-transform: translate(10px, 0px);
	}

	100% {
		-moz-transform: translate(0px, 0px);
	}
}

@-webkit-keyframes arrow-left-animation {
	0% {
		-webkit-transform: translate(0px, 0px);
	}

	50% {
		-webkit-transform: translate(10px, 0px);
	}

	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

@-o-keyframes arrow-left-animation {
	0% {
		-o-transform: translate(0px, 0px);
	}

	50% {
		-o-transform: translate(10px, 0px);
	}

	100% {
		-o-transform: translate(0px, 0px);
	}
}

@-ms-keyframes arrow-left-animation {
	0% {
		-ms-transform: translate(0px, 0px);
	}

	50% {
		-ms-transform: translate(10px, 0px);
	}

	100% {
		-ms-transform: translate(0px, 0px);
	}
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.main-section5 {
		padding-bottom: 0px;
	}

	.main-section5-tit img {
		width: 50%;
	}

	.main-section5-tit:after {
		background-size: contain;
		width: calc(100% - 30px);
	}

	.main-section5 .slide-img {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.main-section5 .slide-txt {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: 100%;
		z-index: 1;
		font-size: 1rem;
		padding: 15px;
		margin-bottom: 30px;
	}

	.main-section5 .slide-left.slide-txt:after {
		top: 100%;
		left: calc(50% - 10px);
		transform: rotate(90deg);
	}

	.main-section5 .slide-right.slide-txt:after {
		top: 100%;
		left: calc(50% - 10px);
		transform: rotate(-90deg);
	}

	.main-section5 .slide-txt>p {
		word-break: keep-all;
	}

	.main-banner_btn-prev {
		left: calc(100% - 70px);
	}

	.main-banner_btn {
		background: none;
		border: 0;
		position: absolute;
		top: calc(100% - -10px);
		color: #fff;
		z-index: 99;
		text-shadow: 1px 1px 1px #000;
		width: 30px;
		height: 30px;
	}

	.main-banner_btn img {
		vertical-align: top;
	}

	.main-banner_btn-next {
		right: 0px;
	}

	/* 목록형 */
	.main-section5-1 .container ul {
		padding: 1rem;
	}
}


@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section5 .slide-img img {
		width: 100%;
		height: auto;
	}

	.main-section5 .slide-txt .txt-con {
		word-break: keep-all;
		font-size: 1rem;
	}

	.main-banner_btn-prev {
		left: calc(100% - 136px);
	}

	.main-banner_btn {
		background: none;
		border: 0;
		position: absolute;
		font-size: 40px;
		top: 100%;
		color: #fff;
		z-index: 99;
		text-shadow: 1px 1px 1px #000;
	}

	.main-banner_btn-next {
		right: 0px;
	}

	.main-section5 .slide-txt {
		width: calc(70% - 15%);
	}
}


@media (min-width:1025px) {

	/* big landscape tablets, laptops, and desktops */
	.main-section5-1 .container ul li {
		font-size: 1rem;
	}

	.main-section5 .slide-txt {
		height: 22vh;
	}

}

/* main-section6 */
.main-section6 h2 {
	color: #fff;
	font-size: 3rem;
	font-weight: 600;
}

.main-section6 .sns-wr li {
	display: inline-block;
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.main-section6 h2 {
		font-size: 1.5rem;
	}

}


@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section6 h2 {
		font-size: 2rem;
	}
}


@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */


}

/* main-section7 */
/* .main-section7{background:url("/theme/bs4_v3.0/img/pub/main-section7-bg.png") no-repeat; background-size:cover;} */
.main-section7 {
	overflow: hidden;
	background: rgba(164, 112, 0, 1);
	background: -moz-linear-gradient(left, rgba(164, 112, 0, 1) 0%, rgba(164, 112, 0, 1) 50%, rgba(0, 107, 128, 1) 50%, rgba(0, 107, 128, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164, 112, 0, 1)), color-stop(50%, rgba(164, 112, 0, 1)), color-stop(50%, rgba(0, 107, 128, 1)), color-stop(100%, rgba(0, 107, 128, 1)));
	background: -webkit-linear-gradient(left, rgba(164, 112, 0, 1) 0%, rgba(164, 112, 0, 1) 50%, rgba(0, 107, 128, 1) 50%, rgba(0, 107, 128, 1) 100%);
	background: -o-linear-gradient(left, rgba(164, 112, 0, 1) 0%, rgba(164, 112, 0, 1) 50%, rgba(0, 107, 128, 1) 50%, rgba(0, 107, 128, 1) 100%);
	background: -ms-linear-gradient(left, rgba(164, 112, 0, 1) 0%, rgba(164, 112, 0, 1) 50%, rgba(0, 107, 128, 1) 50%, rgba(0, 107, 128, 1) 100%);
	background: linear-gradient(to right, rgba(164, 112, 0, 1) 0%, rgba(164, 112, 0, 1) 50%, rgba(0, 107, 128, 1) 50%, rgba(0, 107, 128, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a47000', endColorstr='#006b80', GradientType=1);
}

.main-section7 .container:after {
	content: '';
	width: 120%;
	height: 120%;
	display: block;
	background: #fff;
	position: absolute;
	left: -12%;
	top: 0;
	z-index: -1;
	transform: rotate(-30deg);
}

.main-section7 .container .row {
	padding: 4rem 0;
}

.main-section7 .container h2 {
	font-size: 3rem;
	font-weight: 600;
}

.main-section7 .container h2 strong {
	text-transform: uppercase;
	font-size: 2rem;
}

.main-section7 dl {}

.main-section7 dt {}

.main-section7 dd {}

.main-section7 dd .block {}

.main-section7 dd .c-black {
	font-size: 1.2rem;
	font-weight: 600;
}

.main-section7 dd .c-deepgreen {
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: 900;
}

.main-section7 dd .c-gray9 {
	font-size: 1rem;
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.main-section7 .container h2 {
		font-size: 1.5rem;
	}

	.main-section7 .container h2 strong {
		font-size: 1rem;
	}

	.main-section7 .container:after {
		width: 100%;
		height: calc(100% - 4%);
		left: 0;
		top: 2%;
		transform: rotate(0deg);
	}

	.main-section7 .container .row {
		margin-bottom: 0;
	}

	.main-section7 dd {
		word-break: keep-all;
	}

	.main-section7 dd .c-deepgreen {
		font-size: 1.5rem;
	}
}

@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section7 .container h2 {
		font-size: 2rem;
	}

	.main-section7 .container h2 strong {
		font-size: 1.5rem;
	}

	.main-section7 .container:after {
		width: 120%;
		height: 105%;
		left: -10%;
		transform: rotate(-15deg);
	}

	.main-section7 dd {
		word-break: keep-all;
	}

	.main-section7 dd .c-deepgreen {
		font-size: 1.5rem;
	}
}

@media (min-width:1025px) {

	/* big landscape tablets, laptops, and desktops */
	.main-section7 .container:after {
		content: '';
		width: 135%;
		height: 135%;
		left: -18%;
		top: -6%;
		transform: rotate(-30deg);
	}
}

/* section8 */
.main-section8 {
	background: url('../img/today-main-section8-bg2.png') no-repeat, url('../img/today-main-section8-bg3.png') no-repeat, url('../img/today-main-section8-bg1.png') no-repeat;
	background-size: contain, auto, cover;
	background-position: center top, right bottom, center bottom;
	padding: 3rem 0;
}

.main-section8 .bottom-tit-common {
	text-align: center;
}

.main-section8 .tae-title-sub {
	color: #545454;
	font-size: 1.2rem
}

.main-section8 .item-wr {}

.main-section8 .item-wr .item {
	position: relative;
	height: 0;
	padding-bottom: 100%;
}

.main-section8 .item-wr .item:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../img/today-main-section8-item-bg.png') no-repeat center bottom #fff;
	border-radius: 50%;
	z-index: -1;
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-section8 .item-wr .item-con {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.main-section8 .item-wr .item-con>p {
	max-width: 70%;
	word-break: keep-all;
	font-size: 1rem;
	margin-top: 1.5rem;
	color: #000;
}

.main-section8 .item-wr .item .c-deepgreen {
	font-size: 2.5rem;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}


@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.main-section8 {
		background-size: contain, 50%, cover;
		padding: 10% 0 34%;
		background-position: center top, center bottom, center;
	}

	.main-section8 .section08_title {
		font-size: 1.75rem;
		line-height: 6rem;
		height: 6rem;
		background-size: contain;
	}

	.main-section8 .bottom-tit-common {
		line-height: 5rem;
		background-size: 30%;
		height: 5rem;
	}

	.main-section8 .tae-title-sub {
		font-size: 1rem
	}

	.main-section8 .row {
		margin-bottom: 0;
	}

	.main-section8 .item {
		margin: 0 0 40px 0;
		height: auto;
	}

	.main-section8 .item-wr .item-con {
		padding-top: 0;
		justify-content: center;
	}

	.main-section8 .item-wr .item .c-deepgreen {
		font-size: 3rem
	}

	.main-section8 .item-wr .item-con>p {
		font-size: 1.2rem;
		margin-top: 20px;
		max-width: 60%;
	}
}


@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.main-section8 {
		background-size: contain, 50%, cover;
		padding: 10% 0;
	}

	.main-section8 .tae-title-sub {
		font-size: 1rem
	}

	.main-section8 .item-wr .item-con {
		padding-top: 0;
		justify-content: center;
	}

	.main-section8 .item-wr .item .c-deepgreen {
		font-size: 2rem
	}

	.main-section8 .item-wr .item-con>p {
		font-size: 1rem;
		margin-top: .7rem;
		max-width: 75%;
	}

	.main-section8 .item-wr .item:after {
		opacity: 0.6;
	}


}


@media (min-width:1025px) and (max-width:1300px) {

	/* big landscape tablets, laptops, and desktops */
	.main-section8 .item-wr .item-con>p {
		max-width: 70%;
		word-break: keep-all;
		font-size: 1rem;
		margin-top: .5rem;
	}

}


/* section9 */
.main-section9 {
	padding: 3rem 0 1rem;
}

.main-section9 .go-gil {
	border: 5px solid #006b80;
	display: block;
	padding: 1rem;
	width: 100%;
	height: 100%;
	background: rgba(228, 232, 235, 0.5);
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.section9-13bg {
		background-size: contain;
	}
}

@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.section9-13bg {
		background-size: contain;
	}
}


@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */


}

/* section10 */
.main-section10 {
	padding-top: 3rem;
}

.main-section10 .tae-title-sub {
	color: #545454;
	font-size: 1.2rem
}

.main-section10 .gil-con {
	display: block;
	padding: 1rem;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	color: #fff;
	word-break: keep-all;
}

.main-section10 .gil-con>div {
	background-size: cover !important;
	position: relative;
	overflow: hidden;
	display: flex;
	display: -ms-flexbox;
}

.main-section10 .gil-con>div:after {
	content: '';
	display: block;
	width: 90%;
	height: 90%;
	border: 3px solid rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 5%;
	top: 5%;
	transform: rotate(-15deg);
}

.main-section10 .gil-con>div>div {
	padding: 2rem;
	width: 100%;
	height: 100%;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-section10 .go-gil1 {
	background: #4a95a5;
	;
}

.main-section10 .go-gil2 {
	background: #bd994b;
}

.main-section10 .go-gil3 {
	background: #4a9b96;
}

.main-section10 .go-gil4 {
	background: #4a7ea5;
}

.main-section10 .go-gil {}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.section9-13bg {
		background-size: contain;
	}

	.main-section10 .tae-title-sub {
		font-size: 1rem
	}

	.main-section10 .gil {
		font-size: 1rem;
	}

	.main-section10 .gil-con>div>div {
		font-size: 1.2rem;
	}
}

@media (min-width:641px) and (max-width:1024px) {

	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */
	.section9-13bg {
		background-size: contain;
	}

	.main-section10 .tae-title-sub {
		font-size: 1rem
	}

	.main-section10 .gil {
		font-size: 1rem;
	}
}


@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */


}



/* 하단 어제/오늘 */
.section13 {
	background: transparent;
}

.section13 .pulse1,
.section13 .pulse2 {
	margin: 10px 0;
}

.section13 .pulse1:after {
	content: '';
	width: 1px;
	height: 50px;
	background: #26a69a;
	position: absolute;
	bottom: -24px;
	left: 50%;
}

.section13 .pulse2:after {
	content: '';
	width: 1px;
	height: 50px;
	background: #996600;
	position: absolute;
	bottom: -24px;
	left: 50%;
}

.section13 .btn-floating.btn-large {
	width: 30px;
	height: 30px;
}

.section13 .btn-floating.btn-large i {
	line-height: 30px;
}

.btn-large i {
	font-size: 1.7rem;
}

.section13 .btn {
	padding: 0px !important
}

.section13 .btn-large {
	line-height: 30px;
}

.section13 .pulse1 .btn-floating {
	background-color: #26a69a
}

.section13 .pulse2 .btn-floating {
	background-color: #996600
}

.section13 .yesterday {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}

.section13 .today {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
}

@media (min-width:320px) and (max-width:640px) {

	/* smartphones, iPhone, portrait 480x320 phones */
	.section13 .pulse1:after {
		content: '';
		display: none;
	}

	.section13 .pulse2:after {
		content: '';
		display: none;
	}


}


@media (min-width:641px) and (max-width:1024px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 태블릿 세로 */


}


@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */

}


/* New Footer */
#footer {
	border-top: 7px solid #303030;
	background: #0a6b78;
	color: #fff
}

#footer a {
	color: #fff;
}

#footer p {
	color: #fff
}

#footer h4 {
	margin: 20px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	color: #fff;
	font-size: 18pt
}

#footer h4 span {
	padding-bottom: 5px;
}

#footer .footer-links {
	padding: 0;
	margin: 0;
}

#footer .footer-links li {
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
	color: rgba(255, 255, 255, .6);
	display: block;
	font-size: 0.9rem;
	color: #fff;
}

#footer ul li a,
#footer .pic a,
#footer .desc h2 a {
	text-decoration: none;
	color: #fff;
	font-size: .9rem;
}

#footer .footer-links li a:hover {}

#footer .pic {
	position: relative;
	padding-left: 80px;
	margin-bottom: 40px;
}

#footer .pic .small-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 70px;
	height: 60px;
	float: left;
}

#footer .small-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

#footer .desc h2 {
	font-size: 14px;
	margin-bottom: 5px;
}

#footer .qtext {
	color: #93d668;
}

#footer .col-md-1 {
	font-size: 10pt
}

#footer .text-muted {
	font-size: 10pt;
	color: #fff !important;
	font-size: 0.9rem;
}

#footer .container {
	padding-bottom: 50px
}

#footer strong {
	font-size: 2.4rem;
	color: #93d668;
	font-weight: 900
}

/* End of New Footer */